{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Adira", "Aria", "Celes", "Daggair", "Drusella", "Ladira", "Lindisty", "Lyndisty", "Lyssa", "Mariel", "Maruelia", "Morella", "Senna", "Timov" ],
" ",
[{ "mode" : "alts" }, "Mollari", "Kiro", "Turhan", "Jaddo", "Cotto", "Janno", "Jarno", "Lotoru", "Maray", "Refa", "Ritan", "Syma", "Tensus", "Torr", "Tyree", "Ultan", "Varia", "Vintari", "Virini", "Verini", "Dachow", "Dunseny", "Durla", "Durze", "Malachi", "Morkel", "Sentauro", "Surkel", "Tavari", "Teela", "Valo", "Vallko"]
    ]
  ]
}
