{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Algur", "Andilo", "Antono", "Beyon", "Carn", "Cartagia", "Dius", "Kiro", "Kiron", "Londo", "Luc", "Renegar", "Throk", "Turhan", "Urza", "Vir", "Dachow", "Dunseny", "Durla", "Durze", "Malachi", "Morkel", "Sentauro", "Surkel", "Tavari", "Teela", "Valo", "Vallko", "Milo"],
" ",
[{ "mode" : "alts" }, "Mollari", "Kiro", "Turhan", "Jaddo", "Cotto", "Janno", "Jarno", "Lotoru", "Maray", "Refa", "Ritan", "Syma", "Tensus", "Torr", "Tyree", "Ultan", "Varia", "Vintari", "Virini", "Verini", "Dachow", "Dunseny", "Durla", "Durze", "Malachi", "Morkel", "Sentauro", "Surkel", "Tavari", "Teela", "Valo", "Vallko"]
    ]
  ]
}
